include ../configs/config.pug
doctype html
html(lang="en")
  head
    include ../configs/head.pug
  body
    include ../includes/header.pug
    main
      include ../includes/snippets.pug
      include ../includes/clipboard.pug
      include ../includes/workflow.pug
      include ../includes/brands.pug
      include ../includes/iosmac.pug
    include ../includes/footer.pug