/*! -------------------------
Animaciones
-------------------------- */
.footer-nav__item a, .footer-social__item i {
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  will-change: color;
}

h1, h2, h3 {
  font-weight: 600;
  color: #4c545d;
}

h4, p, small {
  font-weight: 400;
  color: #9fabb2;
  letter-spacing: 0.1px;
  line-height: 1.5;
}

.cta__dload--primary,
.cta__dload--secondary {
  padding: 15px;
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  border-radius: 30px;
  transition-property: box-shadow, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  will-change: box-shadow, background-color;
  filter: drop-shadow(0 10px 5px #c9d0d4);
}

/*! -------------------------
Reset
-------------------------- */
html {
  box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
}

img {
  max-width: 100%;
  display: block;
  border-style: none;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

:focus {
  outline: none;
  box-shadow: 0 0 0 2px #333;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/*! -------------------------
Base
-------------------------- */
/*! -------------------------
Typo
-------------------------- */
html {
  font-size: 62.5%;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.8rem;
}

h1 {
  font-size: 3.6rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4.4rem;
  }
}

h2 {
  font-size: 3.2rem;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 3.6rem;
  }
}

h3 {
  font-size: 2.4rem;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 2.8rem;
  }
}

h4 {
  font-size: 1.8rem;
}
@media screen and (min-width: 768px) {
  h4 {
    font-size: 2rem;
  }
}

p {
  font-size: 1.6rem;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 1.8rem;
  }
}

small {
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  small {
    font-size: 1.4rem;
  }
}

/*! -------------------------
Buttons
-------------------------- */
.cta__dload--primary {
  background-color: #26baa4;
  box-shadow: 0 3px 0 0 #1d907f;
}
.cta__dload--primary:hover {
  background-color: #3cd7c0;
  box-shadow: 0 3px 0 0 #26baa4;
}

.cta__dload--secondary {
  background-color: #6173ff;
  box-shadow: 0 3px 0 0 #2e46ff;
}
.cta__dload--secondary:hover {
  background-color: #94a0ff;
  box-shadow: 0 3px 0 0 #6173ff;
}

.footer-social__item i {
  font-size: 2.8rem;
  color: #353b41;
}
.footer-social__item i:hover {
  color: #26baa4;
}

/*! -------------------------
Layout
-------------------------- */
/*! -------------------------
Header
-------------------------- */
/*! -------------------------
Footer
-------------------------- */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin-top: 185px;
  background-color: #f4f5f6;
}
@media screen and (min-width: 1024px) {
  footer {
    margin-top: 160px;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
}
@media screen and (min-width: 1024px) {
  .footer-container {
    flex-direction: row;
    width: 90%;
  }
}

.footer-logo__container {
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
}
@media screen and (min-width: 1024px) {
  .footer-logo__container {
    width: 60px;
    height: 60px;
  }
}

.footer-logo__img {
  display: block;
  max-width: 100%;
}

.footer-nav__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 290px;
  margin: 20px 0;
}
@media screen and (min-width: 1024px) {
  .footer-nav__container {
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 0 20px;
  }
}

.footer-nav__item a {
  font-weight: 400;
  text-decoration: none;
  color: #4c545d;
}
.footer-nav__item a:hover {
  color: #26baa4;
}

.footer-social__container {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

/*! -------------------------
Index
-------------------------- */