// /*! -------------------------
// Placeholders
// -------------------------- */

@use "./variables" as *;
@use "./sizes" as *;
@use "./colors" as *;

%titulos {
  font-weight: $medium;
  color: $color-label;
}

%textos {
  font-weight: $light;
  color: $color-text;
  letter-spacing: 0.1px;
  line-height: 1.7;
}

%flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}