extend ../templates/template.pug
block content
  include ../includes/snippets.pug
  include ../includes/clipboard.pug
  include ../includes/workflow.pug
  include ../includes/brands.pug
  include ../includes/iosmac.pug