section#section__brands.section__brands.section
  .brands__container
    each brand in brands
      .brands__logo-container
        a(href="#") 
          img(src="./assets/logos/logo-"+brand+".png" alt="Una imagen de "+ brand).brands__logo