section#section__clipboard.section__clipboard.section
  +sectionheader('clipboard', 'Access Clipboard anywhere', 'Whether you’re on the go, or at your computer, you can access all your Clipboard  snippets in a few simple clicks.')
  .clipboard-img__container
    img(src="./assets/images/image-devices.png", alt="").clipboard-img__picture