section#section__iosmac.section__iosmac.section
  +sectionheader('iosmac', 'Clipboard for iOS and Mac OS', 'Available for free on the App Store. Download for Mac or iOS, sync with iCloud and you’re ready to start adding to your clipboard.')
  include ./ctas.pug