section#section__snippets.section__snippets.section
  +sectionheader('snippets','Keep track of your snippets','Clipboard instantly stores any item you copy in the cloud, meaning you can access your snippets immediately on all your devices. Our Mac and iOS apps will help you organize everything.')
  .snippets-content
    .snippets-content__part-a
      .snippets-img__container
        img(src="./assets/images/image-computer.png", alt="").snippets-img__picture
    .snippets-content__part-b
      .snippets-content__container
        +sectioncontent('Quick Search', 'Easily search your snippets by content, category, web address, application, and more.')
        +sectioncontent('iCloud Sync','Instantly saves and syncs snippets across all your devices.')
        +sectioncontent('Complete History','Retrieve any snippets from the first moment you started using the app.')