section#section__workflow.section__workflow.section
  +sectionheader('workflow', 'Supercharge your workflow', 'We’ve got the tools to boost your productivity.')
  .cards__container 
    each card in cards
      .card
        .card__body
          .card__img-container
            img(src="./assets/icons/icon-"+card.imagen alt="Una imagen de "+ card.alt)
          h3.card__subtitle #{card.titulo}
          p.card__paragraph #{card.contenido}